*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: poppins;
}

nav li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 35px 100px 0;
}

header h1{
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}

header nav{
    display: flex;
}

header nav li {
    margin: 0 15px;
    padding: 0 10px;
}

header nav li a:hover{
    color: rgb(50, 85, 243);
    transition: 0.3s;
    /* animation: navigasi;
    animation-duration: 1s; */
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0px;
}

@keyframes navigasi {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media(max-width:1000px){
    header{
        padding: 20px 50px;
    }
}

@media(max-width:700px){
    header{
        flex-direction: column;
    }

    header h1{
        margin-bottom: 15px;
    }

    header li{
        margin: 0 7px;
    }
}

/* Banner Area */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}

@media(max-width:1000px){
    section{
        padding: 100px 50px;
    }
}
@media(max-width:600px){
    section{
        padding: 125px 10px;
    }
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    position: relative;
    justify-content: center;
    color: #FFF;
    text-align: center;
    min-height: 100vh;
}

.banner-area .banner-image{
    background: url(../img/bg1.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.banner-area .banner-image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}

.banner-area h2{
    margin-bottom: 15px;
    font-size: 64px;
    font-family: merienda;
}

.banner-area h3{
    margin-bottom: 40px;
    font-size: 25px;
}

.banner-area a.btn-banner{
    background: rgb(50, 85, 243);
    padding: 15px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

.banner-area a.btn-banner:hover{
   background-color: rgb(102, 127, 235);
}

@media(max-width:800px){
    .banner-area{
        min-height: 600px;
    }

    .banner-area h2{
        font-size: 40px;
    }

    .banner-area .banner-image{
        background-position: center;
    }

    .banner-area h3{
        font-size: 18px;
    }

    .banner-area a.btn-banner{
        padding: 15px 35px;
        font-size: 11px;
    }
}

/* About */
ul.about-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li{
     padding: 20px;
     height: 290px;
     background-clip: content-box;
     background-position: center;
     background-size: cover;
     list-style: none;
}

.about-left{
     flex-basis: 40%;
     background-image: url(../img/about-left.jpg);
}

.about-right{
    flex-basis: 60%;
}

.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

 .section-title{
     text-transform: uppercase;
     font-size: 38px;
     font-weight: 500;
     margin-bottom: 5%;
 }

 .about-right h3{
    margin-bottom: 3%;
 }

 .about-btn{
     padding: 15px 35px;
     background: rgb(50, 85, 243);
     color: #FFF;
     border-radius: 50px;
     text-transform: uppercase;
     font-size: 15px;
 }

 .about-btn:hover{
     background-color:rgb(102, 127, 235);
 }

 @media(max-width:1000px){

    .about-left,
    .about-right{
        flex-basis: 100%;
    }

    .about-content li{
        padding: 8px;
    }

    .section-title{
        font-size: 32px;
    }

    .about-btn{
        font-size: 11px;
    }
 }

 /* Service Area */
 #services{
     background: #DDD;
 }

 ul.services-content{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
 }

 .services-content li{
    list-style: none;
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}



.services-content li i{
    font-size: 25px;
    color: rgb(50, 85, 243);
    margin-bottom: 25px;
} 

.services-content li h4{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
} 

.services-content li p {
    margin: 0;
}

@media (max-width:1000px){
    .services-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child{
        margin-bottom: 0;
    }

    .services-content li p{
        padding: 0;
    }
}

/* Contact-area */
#contact{
    background: #FFF;
}

ul.contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-content li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    list-style: none;
}

.contact-content li i{
    font-size: 25px;
    color: rgb(50, 85, 243);
    margin-bottom: 25px;
}

.contact-content li p{
    margin-bottom: 0;
    /* line-height: 25px; */
}

@media(max-width: 1000px){
    .contact-content li{
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child{
        margin-bottom: 0;
    }

    .contact-content li p{
        padding: 0;
    }
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFF;
    background-color: #000;
    padding: 20px 0;
}

footer span{
    color: rgb(255, 86, 114);
}